<a href="https://colab.research.google.com/github/Sarah-Hular/OOP-58001/blob/main/Copy_of_Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [1]:
x = float(1)
a, b = 0, -1
a, b, c= "Andrea", "Dexter", "Eleazar"

print('This is a sample')
print(a)
print(b)

This is a sample
Andrea
Dexter

Casting

In [ ]:

print(x)

1.0

Type() Function

In [ ]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [ ]:
h= "Alora"
v= 1
v= 2

print(h)
print(v)
print(v+1)

Alora
2
3

Multiple Variables

In [ ]:
x,y,z="one","two","Three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
Three
one two Three

One to Multiple Variables

In [ ]:
x = y = z = "Sarah"
print(x,y,z)

Sarah Sarah Sarah

Output Variables

In [ ]:
x= "enjoying"

print("Python is " + x)

x = "Hi"
y = "beautiful"
print(x+""+" "+y)

Python is enjoying
Hi beautiful

Python Indentation

In [ ]:
if 5>4:
 print( "Yes")

Yes

Python Comments

In [ ]:
#This is a comment 
print( "Hello, Philippines")

Hello, Philippines

Assignment Operators

In [ ]:
q=10
q+=5 

print(q)

15

Arithmetic Operations

In [ ]:
j = 2
f = 4
l = 6

print(f+j)
print(f-j)
print(f*l)
print(int(l/f))
print(2/f)
print(2%f)
print(2//f)
print(2**2)

6
2
24
1
0.5
2
0
4

Bitwise Operator shift right/left

In [ ]:
u=2
print(u<<1)

g=10
print(g<<1)

4
20